.checkbox {
  position: relative;
  z-index: 1;
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 1;

    &:focus + .checkbox__label:before {
      box-shadow: 0 0 5px #858585;
    }
    &:checked + .checkbox__label:before {
      background: #858585;
    }
  }
  // .checkbox__label
  &__label {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    &:before {
      content: "";
      align-self: flex-start;
      flex: 0 0 13px;
      width: 13px;
      height: 13px;
      margin-top: 3px;
      border: 2px solid #858585;
      background: transparent;
    }
  }
  // .checkbox__text
  &__text {
    font-size: 16px;
    line-height: math.div(21, 16);
    @media (max-width: $mobileSmall) {
      font-size: 10px;
      line-height: math.div(13, 10);
    }
  }
}
