// Заголовки, общие БЄМ блоки и проче...
.button {
  padding: 17px 30px;
  background: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: math.div(26, 20);
  @media (max-width: $mobile) {
    padding: 8px 22px;
    font-size: 18px;
  }
  @media (max-width: $mobileSmall) {
    width: 100%;
  }
}

.social-block {
  display: flex;
  align-items: center;
  li {
    flex: 0 0 30px;
  }
  li:not(:last-child) {
    margin-right: 22px;
  }
  &__link {
  }
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  line-height: math.div(64, 48);
  &_white {
    color: #fff;
  }
  @media (max-width: 1200px) {
    font-size: 32px;
    line-height: 43px;
  }
  @media (max-width: $mobileSmall) {
    font-size: 25px;
    line-height: 33px;
  }
}
