//====================================================================================================
.footer {
  background: #1f1f21;
  padding: 85px 0;
  @media (max-width: $mobile) {
    padding: 50px 0;
  }
  &__container {
  }

  &__inner {
    margin-bottom: 60px;
    @media (min-width: $tablet) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 140px;
    }
  }

  &__back-contact {
    margin-right: 25px;
    @media (max-width: $tablet) {
      margin-bottom: 40px;
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 80px;
    @media (max-width: $mobile) {
      font-size: 28px;
      max-width: 80%;
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__form {
  }

  &__map {
    flex: 0 1 940px;
    max-width: 940px;
    width: 100%;
    @media (max-width: $tablet) {
      flex: 1 1 100%;
      max-width: none;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1115px;
    width: 100%;
    margin-left: auto;
    @media (max-width: $tablet) {
      flex-direction: column;
      & > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__tel {
    color: #68686b;
    font-size: 22px;
    line-height: math.div(29, 22);
    @media (max-width: $mobile) {
      font-size: 16px;
    }
  }

  &__address {
    font-style: normal;
    color: #68686b;
    font-size: 22px;
    line-height: math.div(29, 22);
    @media (max-width: $mobile) {
      font-size: 16px;
      max-width: 80%;
      width: 100%;
    }
  }
  &__social {
  }
}
.form {
  color: #858585;
  &__input {
    margin-bottom: 25px;
  }

  &__checkbox {
    margin-bottom: 53px;
  }

  &__button {
  }
}

//====================================================================================================
