//====================================================================================================
.header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 117px;
  color: #fff;
  background: rgba($color: #fff, $alpha: 0.1);
  @supports (
    (-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))
  ) {
    background: rgba($color: #fff, $alpha: 0.1);
    backdrop-filter: blur(25px);
  }
  @media (max-width: $pc) {
    min-height: 96px;
  }
  @media (max-width: $mobile) {
    min-height: 53px;
  }
  @media (max-width: $mobileSmall) {
    min-height: 35px;
  }
  &__container {
    min-height: inherit;
  }

  &__row {
    display: flex;
    width: 100%;
    min-height: inherit;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    position: relative;
    z-index: 5;
    transform: translate(-8px, -5px);
    @media (max-width: $mobile) {
      transform: translate(0px, 0px);
      width: 53px;
      height: 53px;
    }
    @media (max-width: $mobileSmall) {
      width: 43px;
      height: 43px;
    }
  }

  &__menu {
  }
}
.menu {
  &__icon {
  }

  &__body {
    min-height: 100%;
    @media (max-width: $tablet) {
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 4;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      background-color: #1f1f21;
      transition: left 0.3s ease;
      padding: 160px 20px 30px 20px;
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        display: inline-block;
        width: 100%;
        height: 117px;
        z-index: 3;
        transition: left 0.3s ease;
        background: #1f1f21;
        @media (max-width: $pc) {
          height: 96px;
        }
        @media (max-width: $mobile) {
          height: 53px;
        }
        @media (max-width: $mobileSmall) {
          height: 35px;
        }
      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }

  &__list {
    @media (min-width: $tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 86px;
    }
    @media (max-width: $pc) {
      &:not(:last-child) {
        margin-right: 22px;
      }
    }
    @media (max-width: $tablet) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 400;
    line-height: math.div(27, 20);
    font-family: "Playfair Display", serif;
    @media (max-width: $pc) {
      font-size: 16px;
      line-height: math.div(21, 16);
    }
    @media (max-width: $tablet) {
      font-size: 20px;
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.icon-text {
  position: relative;
  z-index: 5;
}

.icon-burger {
  position: relative;
  width: rem(10);
  height: rem(7);
  margin-right: 4px;
  cursor: pointer;
  z-index: 5;
  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(1);
    background-color: #fff;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - rem(1));
  }
  .menu-open & {
    span {
      width: 0;
    }
    &::before,
    &::after {
    }
    &::before {
      top: calc(50% - rem(0.37));
      transform: rotate(-45deg);
    }
    &::after {
      bottom: calc(50% - rem(0.37));
      transform: rotate(45deg);
    }
  }
}
