//Hero section====================================================================================================
.hero {
  background: linear-gradient(
      to right,
      rgba(25, 25, 29, 0.75),
      rgba(25, 25, 29, 0.75) 0
    ),
    url("@img/hero-bg.jpg") 0 0 no-repeat;
  min-height: 100vh;
  padding: 89px 0 83px;
  color: #fff;
  &__container {
  }

  &__inner {
    display: flex;
    align-items: flex-end;
  }

  &__info {
    flex: 0 1 percent(585, 1600);
    margin-right: 90px;
  }

  &__title {
    margin-bottom: 46px;
    font-family: "Playfair Display", serif;
    font-size: 64px;
    font-weight: 600;
    line-height: math.div(85, 64);
  }

  &__pros {
    margin-bottom: 43px;
    font-size: 20px;
    line-height: math.div(26, 20);
    li {
      position: relative;
      display: flex;
      align-items: center;
      &::before {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 8px;
        border-radius: 50%;
        background: #fff;
      }
    }
    li:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__order {
    margin-bottom: 190px;
  }

  &__button {
   
  }

  &__footer {
    display: flex;
    margin-top: auto;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-right: 80px;
  }

  &__tel {
    color: #d8d8d8;
    font-size: 20px;
    line-height: math.div(26, 20);
  }

  &__social {
  }

  &__decor {
    flex: 0 1 percent(834, 1600);
  }

  &__image {
  }
}

//========================================================================================================================================================
